<div class="MasterDivForLogin">
    <div class="DivLogin">
        <input id="Email" class="LoginAdmin" type="text" placeholder="Name" />
        <input id="Password" class="LoginAdmin" type="password" placeholder="Password" />
        <div id="ErrorDiv" style="color:red;font-size:1rem;text-align:center;"></div>
        <div onclick="LoginUser()" class="LoginBtnAdmin">Zaloguj</div>
    </div>
</div>