<link rel="stylesheet" href="~/css/Course/Create.css" asp-append-version="true" />
<form id="CourseValidator" class="CreatePanel">
    <div id="FirstPanel" class="FirstPanel">
        <h1>Na początku uzupełnijmy podstawowe dane Twojego kursu</h1>
        <section>
            <label for="Title">Podaj nazwę kursu</label>
            <input name="Title" id="Title" type="text" maxlength="50" placeholder="Tytuł kursu" required/>
        </section>
        <section>
            <label for="Description">Poniżej opisz swój kurs</label>
            <textarea name="Description" id="Description" required></textarea>
        </section>
        <div class="NextBtn" onclick="FirstPanelDone()">Dalej</div>
    </div>
    <div id="SecondPanel" class="SecondPanel">
        <h1>Teraz wybierz zdjęcie</h1>
        <section>
        <p>Jest to istotny element Twojego kursu ponieważ ładne zdjęcie zawsze przyciąga klientów.</p>
        <br />
        <label for="CoursePicture" class="ImgBtn">Wybierz zdjęcie</label>
        <input name="CoursePicture" id="CoursePicture" type="file" style="display:none" accept="image/png, image/jpeg"/>
        <div id="PictureView" class="Pic"></div>
        </section>
        <section>
            <div class="NextBtn TwoBtnInSection" onclick="ReturnToFirstPanel('false')">Wstecz</div>
            <div class="NextBtn TwoBtnInSection" onclick="SecondPanelDone()">Dalej</div>
        </section>

    </div>
    <div id="LastPanel" class="LastPanel">
        <h1>To już ostatni krok tworzenia Twojego kursu</h1>
        <section>
            <label for="Price">Podaj cenę za swój kurs</label>
            <input name="Price" id="Price" type="number" min="0" onkeypress='return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)' required/>
        </section>
        <section>
        <label for="AuthorName">Podaj Imię i Nazwisko autora kursu</label>
        <input type="text" name="AuthorName" id="AuthorName" required/>
        </section>
        <section style="max-height: 150px;">
            <div class="NextBtn TwoBtnInSection" onclick="ReturnToSecondPanel('false')">Wstecz</div>
            <div class="NextBtn TwoBtnInSection" onclick="GoToSummary()">Przejdź do podsumowania</div>
        </section>
    </div>
    <div id="Summary" class="Sumary">
        <h1>Podsumowanie tworzenia kursu</h1>
        <div class="SummarySection">
            <div class="FirstSumarySection">
                <h2>Podstawowe informacje</h2>
                <span>Tytuł:</span>
                <p id="SummaryTitle" name="SummaryTitle" class="SummaryTitle"></p>
                <span>Opis:</span>
                <p id="SummaryDescription" class="SummaryDescriptio" style="overflow: auto;max-height: 200px;"></p>                
            </div>
            <div class="SecondSection">
                <h2>Zdjęcie kursu</h2>
                <div id="SummaryPicture" style="height:60%;width:80%;margin:auto"></div>              
            </div>
            <div class="ThridSection">
                <h2>Cena i autor</h2>
                <label for="SummaryPrice">Cena:</label>
                <p id="SummaryPrice" name="SummaryPrice"></p>
                <label for="SummaryAuthor">Autor</label>
                <p id="SummaryAuthor" class="SummaryAuthor" name="SummaryAuthor"></p>                
            </div>
        </div>
        <div class="SummaryButtons">
            <div id="ReturnFirst" class="SummaryBtn" onclick="ReturnToFirstPanel('true')" style="width:15%">Zmień</div>
            <div id="ReturnSecond" class="SummaryBtn" onclick="ReturnToSecondPanel('true')" style="width:55%">Zmień</div>
            <div id="ReturnLast" class="SummaryBtn" onclick="ReturnToLastPanel()" style="width:15%">Zmień</div>
            </div>
        <div class="CreateCourse" id="CreateCourse" onclick="CreateCourse()">Stwórz kurs</div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/Course/Create.js"></script>