@using Courses.Infrastructure.DTO.Statistic
@model List<CoursesViewInAdminPanel>
<container>
    <header class="text-center GlassEfectSection">
        <h2>Wszystkie kursy</h2>
    </header>
    <section class="justify-content-center GlassEfectSection">
        <div class="d-flex justify-content-around">
            <span>Po dacie</span>
            <span>Po cenie</span>
            <span onclick="location.href ='/AdminCourses/Create'" style="cursor:pointer">Dodaj nowy</span></div>
    </section>
        @foreach(var item in Model)
        {
        <p>@item.Name</p>
        <img src="@item.Picture" />
        
        }
    </container>