@using Courses.Infrastructure.DTO.Statistic
@model List<CoursesViewInAdminPanel>
<container>
    <header class="text-center GlassEfectSection">
        <h2>Wszystkie kursy</h2>
    </header>
    <section class="justify-content-center GlassEfectSection">
        <div class="d-flex justify-content-around">
            <span>Po dacie</span>
            <span>Po cenie</span>
            <span onclick="location.href ='/AdminCourses/Create'" style="cursor:pointer">Dodaj nowy</span></div>
    </section>
        @foreach(var item in Model)
        {
            <article class="GlassEfectSection d-flex justify-content-around" style="box-sizing: border-box;padding-top: 35px;">
                <P>@(Model.IndexOf(item) + 1)</P>               
                <p>@item.Name</p>
                <a class="PrimaryBtn" style="width: 15%;text-align: center;margin:0;margin-top:0 !important;height:25px" href="/AdminCourses/Details?CourseId=@item.Id">Szczegóły</a>
            </article>
        }
    </container>