@using Courses.Infrastructure.DTO.UserDTOs
@model UserSettingsDTO
@{
    ViewData["Title"] = "Ustawienia";
}
<link href="/css/Admin.css" rel="stylesheet" />
<h1 style="text-align:center">
    Witaj na stronie z ustawieniami użytkownika.
    <br />Jesteś z nami od @Model.createAt.ToString("d")
</h1>
<div class="GlassEfectSection text-center d-grid">
    <label for="name" style="font-size:1rem;">Nazwa użytkownika</label>
    <p name="name" id="name">@Model.name</p>
    <button class="SettingsBtn" onclick="GetChangeNameModal()">Zmień nazwę</button>
    <label for="email" style="font-size:1rem;">Twój emial</label>
    <p name="email" id="email">@Model.email</p>
    <button class="SettingsBtn">Zmień email</button>
    <button class="SettingsBtn">Dodaj weryfikację dwustopniową</button>
</div>
<section id="SectionForChangesModals">

</section>
@section scripts{
<script>
    function GetChangeNameModal(){
        $("#SectionForChangesModals").load("/Creator/ChangeNameModal");
    }
</script>
}