.FullPageEdit {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
}
.MainSectionEdit {
    margin: auto;
    margin-top: auto;
    display: grid;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}
label{
    font-size:1.3rem;
}
input{
    font-size:1.1rem;
}
textarea {
    font-size: 1.1rem;
    min-height: 150px;
}
.ExitBtn {
    position: fixed;
    right: 15px;
    top: 10px;
    height: 25px;
    width: 25px;
    cursor:pointer;
}