/* || COMON CLASSES */
.CreatePanel{
    display:flex;
    justify-content:center;
    overflow:hidden;
    height:900px;
    width:90%;
    margin:auto;
}
.CreatePanel h1{
    height:10%;
    font-size:2rem;
}
.NextBtn {
    background-color: #05d90545;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    user-select: none;
    height: 25%;
    border-radius: 25px;
    transition: 0.5s;
    padding:10px;
}
.NextBtn:hover{
    color: #05d905a6;
    background-color:#f5f5f594;
}
.TwoBtnInSection {
    height: 20%;
    margin: 10px;
    padding-bottom: 10px !important;
    padding: 0;
}
/* || FIRST PANEL */
.FirstPanel {
    border-radius: 25px;
    padding: 25px;
    backdrop-filter: blur(25px);
    height: 800px;
    background-color: #403e3e8a;
    z-index: 4;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 60%;
    display: inline-grid;
    justify-content: center;
    transition: transform 1s;
}
.FirstPanel label{
    font-size:1rem;
    font-weight:bolder;
}
.FirstPanel input{
    border-radius:10px;
    text-align:center;
    font-size:1rem;
    width:100%;
    box-sizing: border-box;
    background: #ffffff1c;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
.FirstPanel textarea{
    resize:none;
    width:100%;
    font-size:0.7rem;
    height:70%;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    background: #ffffff1c;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

/* || SECOND PANEL */
.SecondPanel {
    transform:translateX(250%);
    border-radius: 0 25px 25px 0;
    padding: 25px;
    backdrop-filter: blur(25px);
    height: 800px;
    background-color: #33313185;
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 60%;
    display: grid;
    justify-content: center;
    transition: transform 1s;
}
.SecondPanel label{
    font-size:1rem;
    font-weight:bolder;
}

.SecondPanel p{
    font-size:1rem;
    font-weight:bolder;
}
.ImgBtn {
    
    border: 1px solid whitesmoke;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    user-select:none;
}
.Pic {
    height: 400px;
    margin: 25px;
    border-radius: 25px;
    background-color: #3e3b3b2b;
    backdrop-filter: blur(5px);
}
/* || LAST PANEL */
.LastPanel {
    transform: translateX(250%);
    border-radius: 0 25px 25px 0;
    padding: 25px;
    backdrop-filter: blur(25px);
    height: 800px;
    background-color: #201e1e85;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 60%;
    display: grid;
    justify-content: center;
    transition: transform 1s;
}
.LastPanel label {
    font-size: 1rem;
    font-weight: bolder;
}

.LastPanel input {
    padding:5px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff1c;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

/* || SUMARY PANEL*/
.Sumary {
    transform: translateX(250%);
    border-radius: 0 25px 25px 0;
    padding: 25px;
    backdrop-filter: blur(25px);
    height: 800px;
    background-color: #07060691;
    display: grid;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    transition: transform 1s;
}
.FirstSumarySection{
    font-size:1rem;
    width:20%;
}
.FirstSumarySection p{
    font-weight:bolder;
}
.SecondSection {
    width: 60%;
    font-size: 1rem;
}
.ThridSection {
    width: 20%;
    font-size: 1rem;
}
.ThridSection p {
    font-weight: bolder;
}
.SummarySection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.SummaryBtn {
    margin-top: 10px !important;
    margin: auto;
    background-color: #05d90545;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
    transition: 0.5s;
    width: 70%;
}
.SummaryBtn:hover {
    color: #05d905a6;
    background-color: #f5f5f594;
}
.CreateCourse {
    margin-top: 10px !important;
    margin: auto;
    background-color: #05d90545;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
    transition: 0.5s;
    width: 70%;
    color: whitesmoke;
}
.CreateCourse:hover {
    color: #05d905a6;
    background-color: #f5f5f594;
}
.SummaryButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.LessonsForTopic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    margin: auto;
}
.LessonsForTopic div{
    flex: 1 1 30%;
    display:flex;
    max-width:30%;
}
.LessonEditBtn {
    border: none;
    margin: 3px;
    background: #002ddf47;
    color: whitesmoke;
    border-radius: 15px;
    padding: 0 6px;
    backdrop-filter: blur(15px);
    box-shadow: 1px 4px 3px #7a80d3a6;
    font-size: 0.7rem;
    font-weight: bolder;
}
.LessonEditBtn:hover,.LessonDeleteBtn:hover{
    opacity:0.8;
}
.LessonEditBtn:active,.LessonDeleteBtn:active{
    opacity:0.6;
}
.LessonDeleteBtn {
    border: none;
    margin: 3px;
    background: #ff000040;
    color: whitesmoke;
    border-radius: 15px;
    padding: 0 6px;
    backdrop-filter: blur(15px);
    box-shadow: 1px 4px 3px #ff000087;
    font-size: 0.7rem;
    font-weight: bolder;
}