@model Courses.Infrastructure.DTO.UserDTO;
@{
    @if(Model != null)
    {
        @if (Model.AvailableCourses.Count <= 0)
        {
            <p>Nie masz wykupionych żadnych testów. Zaprszamy do zakupów </p>
        }
    }
    else
    {
        <p>Zaloguj się</p>
    }
}
