@{
    <p>test</p>
    <div id="passwordStrengthDiv">
    <p id="passwordStrengthMessage">Podaj hasło</p>
</div>

<script type="text/javascript">
    function checkPasswordStrength(password) {
        var passwordStrength = 0;

        if (password.length >= 8) {
            passwordStrength++;
        }

        if (password.match(/[a-z]+/)) {
            passwordStrength++;
        }

        if (password.match(/[A-Z]+/)) {
            passwordStrength++;
        }

        if (password.match(/\d+/)) {
            passwordStrength++;
        }

        if (password.match(/[!$%^&*()]+/)) {
            passwordStrength++;
        }

        var passwordStrengthDiv = document.getElementById("passwordStrengthDiv");
        var passwordStrengthMessage = document.getElementById("passwordStrengthMessage");

        switch (passwordStrength) {
            case 0:
                passwordStrengthDiv.style.backgroundColor = "red";
                passwordStrengthMessage.innerHTML = "Słabe";
                break;
            case 1:
                passwordStrengthDiv.style.backgroundColor = "orange";
                passwordStrengthMessage.innerHTML = "Słabe";
                break;
            case 2:
                passwordStrengthDiv.style.backgroundColor = "yellow";
                passwordStrengthMessage.innerHTML = "Średnie";
                break;
            case 3:
                passwordStrengthDiv.style.backgroundColor = "lightgreen";
                passwordStrengthMessage.innerHTML = "Dobre";
                break;
            case 4:
                passwordStrengthDiv.style.backgroundColor = "green";
                passwordStrengthMessage.innerHTML = "Silne";
                break;
            case 5:
                passwordStrengthDiv.style.backgroundColor = "darkgreen";
                passwordStrengthMessage.innerHTML = "Bardzo silne";
                break;
        }
    }
</script>

<input type="password" id="passwordInput" onkeyup="checkPasswordStrength(this.value)">
}
