@model Courses.Infrastructure.Comands.User.Login
@{
    <link rel="stylesheet" href="~/css/User.css"/>
    <div class="LoginCol">
        <form asp-action="Login" method="post">
            <div class="LoginHeader">
            <label class="HeaderLbl">Logowanie użytkownika</label>
            </div>
        <div class="LoginBox">        
            <div class="UsernameBox">
                <label class="LabelLogin">Podaj login użytkownika</label>
                <input type="text" asp-for="Name" class="textInput">
            </div>
            <div class="UsernameBox">
                <label class="LabelLogin">Podaj hasło użytkownika</label>
                    <input type="password" asp-for="Password" class="textInput">
            </div>
            <div class="ErrorLbl">
                        @if (ViewData["Error"] != string.Empty)
                            @ViewData["Error"] 
            </div>
            <div class="ButtonBox">           
                <input type="submit" value="Zaloguj" class="LoginBtn">
            </div>
        </div>
        </form>
    </div>
    <div class="RegisterCol">
        <div class="RegisterInfo">
            <p>Nie masz jeszcze konta?</p>
            <div class="RegBtn">
                <a asp-area="" asp-controller="User" asp-action="Register" class="RegisterBtn">Zarejestruj się</a>
            </div>
        </div>
    </div>
}