@{
    <link rel="stylesheet" href="~/css/User.css">
}
@{

    <div class="RegisterHeader"></div>
    <div class="RegisterBox">
        <div class="RegisterLoginBox">
        </div>
        <div class="RegisterEmailBox">
        </div>
        <div class="RegisterPassworBox">        
        </div>
        <div class="RegisterBtnBox">
        </div>
    </div>
}