@model Courses.Infrastructure.Comands.User.Register;
@{
    <link rel="stylesheet" href="~/css/User.css">
}
@{
    <form asp-controller="User" asp-action="Register" method="post">
        <div class="RegisterHeader"></div>
        <div class="RegisterBox">
            <div class="OneBox">
                <label id="LabelRegister">Podaj login</label>
                <input type="text" asp-for="Login" id="RegisterTextBox">
            </div>
            <div class="OneBox">
                <label id="LabelRegister">Podaj Email</label>
                <input type="text" asp-for="UserEmail" id="RegisterTextBox">
            </div>
            <div class="OneBox">
                <label id="LabelRegister">Podaj hasło</label>
                <input type="password" asp-for="Password" id="RegisterPassword">
                <div id="Rectangle"><div id="SmallSquare"></div></div>
            </div>
            @if (ViewData["Error"] != string.Empty)
                @ViewData["Error"]
            <div class="OneBox">
                <input type="submit" value="Zarejestruj" id="RegisterBtn">
            </div>
        </div>
    </form>
    <script type="text/javascript">
    
    </script>
}