@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="/css/Shop.css" asp-append-version="true" />
<script src="/js/Shop.js" asp-append-version="true"></script>
@{

    <div class="ShopHeader">kursy w najniższych cennach tylko u nas</div>
    <div class="ShopMenu" id="CategoryList">
    </div>
}
