@using Courses.Infrastructure.DTO.UserDTOs
@model UserSettingsDTO
<style>
    .ChangeModalMainSection {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0000000a;
        backdrop-filter: blur(3px);
    }

    .SecondChangeModal {
        display:grid;
        margin: auto;
        height: 600px;
        width: 300px;
    }
</style>
<section class="ChangeModalMainSection" id="ChangeNameModal">
    <div class="SecondChangeModal">
        <p>X</p>
        <label for="email">Nazwa użytkownika:</label>
        <input type="text" id="name" name="namr" placeholder="@Model.name" />
        <p>Zmień nazwę</p>
    </div>
</section>
<script>
    function CloseModal(){
        if(document.getElementById("ChangeNameModal")){
            document.getElementById("ChangeNameModal").remove();
        }
    }
</script>