<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Courses.API.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link id="Theme" rel="stylesheet" href="~/css/Themes/Theme2.css" asp-append-version="true" />

</head>
<body onload="GetTheme(); CreateAdminPanel()" style="background-color:transparent;">
    <header >
        <div class="NaviBarMain">
            <div class="NaviBar">
                <div class="NaviDiv">
                    <a class="NaviItem" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="NaviDiv">
                    <a class="NaviItem" asp-area="" asp-controller="Shop" asp-action="Index">Sklep</a>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="NaviDiv">
                        <a class="NaviItem" asp-area="" asp-controller="User" asp-action="Login">Logowanie</a>
                    </div>
                }
                else
                {
                    <div class="NaviDiv">
                        <a class="NaviItem" asp-area="" asp-controller="User" asp-action="Logout">Wyloguj</a>
                    </div>
                }
                <div id="AdminPanelLink"></div>
                <div class="NaviDiv">
                    <a class="NaviItem" asp-area="" asp-controller="PAdmin" asp-action="Login">PAdmin</a>
                </div>
            </div>
            <div class="NaviCart">
                    <a id="CartBtn" onclick="OpenCart()"><img class="CartImg" src="/Images/Cart.png" /></a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Theme.js" asp-append-version="true"></script>
    <script src="/js/OtherScript.js" asp-append-version="true"></script>
    <script src="~/js/Cart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
