<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PAdminLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link id="Theme" rel="stylesheet" href="~/css/Themes/Theme2.css" asp-append-version="true" />
    <script src="~/js/PAdmin.js" asp-append-version="true"></script>

</head>
<body onload="GetTheme(); CreateAdminPanel()">
    
        <div id="Menu" class="RightMenu">
        <div class="ResizeBtn" onclick="ResizeMenu()"></div>
        @if (User.IsInRole("Admin"))
        {
            <div class="SingleMenuItem" onclick="GoTo('Index')"><div class="MenuText"><p>Dom</p></div><div class="ImgDiv"><img src="~/Images/home.png" class="MenuImg" /></div></div>
            <div class="SingleMenuItem" onclick="GoTo('Courses')"><div class="MenuText"><p>Moje kursy</p></div><div class="ImgDiv"><img src="~/Images/courses.png" class="MenuImg" /></div></div>
            <div class="SingleMenuItem" onclick="GoTo('Settlements')"><div class="MenuText"><p>Rozliczenia</p></div><div class="ImgDiv"><img src="~/Images/settlements.png" class="MenuImg" /></div></div>
            <div class="SingleMenuItem" onclick="GoTo('Settings')"><div class="MenuText"><p>Ustawienia</p></div><div class="ImgDiv"><img src="~/Images/setting.png" class="MenuImg" /></div></div>
            <div class="SingleMenuItem" onclick="Logout()"><div class="MenuText"><p>Wyloguj</p></div><div class="ImgDiv"><img src="~/Images/logout.png" class="MenuImg" /></div></div>
        }
        else
        {
            <div class="SingleMenuItem" asp-controler="PAdmin" asp-action="Logout"><div class="MenuText"><p>Zaloguj</p></div><div class="ImgDiv"><img src="~/Images/login.png" class="MenuImg" /></div></div>
        }
        <div class="SingleMenuItem" onclick="location.href='/'"><div class="MenuText"><p>Home Page</p></div><div class="ImgDiv"><img src="~/Images/logout.png" class="MenuImg" /></div></div>
        </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Theme.js" asp-append-version="true"></script>
    <script src="/js/OtherScript.js" asp-append-version="true"></script>
    <script src="~/js/Cart.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <footer class="bg-body-tertiary text-center text-lg-start" style="font-size:0.6rem">© 2024 Copyright: Grzegorz Galas. <b>Kontakt:grzegorzgalas10@gmail.com</b></footer>
</body>
</html>
<script>
    document.body.onload = function () {
        var isResize = localStorage.getItem('Resize');
        if (isResize != null) {
            if (isResize == "true") {
                var menu = document.getElementById("Menu");
                menu.style.left = 0;
                menu.classList.add("Resize");
            }
        }
    };
    function GoTo(location) {
        document.location.href = `/Creator/${location}`;
    }
    function Logout() {
        $.ajax({
            method: "POST",
            url: "/API/PAdmin/Logout",
            success: function () {
                document.location.href = `/API/PAdmin/Login`;
            },
            error: function(xhr,error){
                console.log(error);
                console.log(xhr);
            },
        })
    }
</script>