@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-link{
    font-size: 1rem;
}