@media (max-width: 768px) {
    html {
        font-size: 10px;
        background-image: url("/Images/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    main{
        padding:50px;
    }
}

@media (min-width: 768px) and (max-width: 1920px) {
    html {
        font-size: 16px;
        background-image: url("/Images/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    main {
        padding: 50px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 20px;
        background-image: url("/Images/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    main {
        padding: 50px;
    }
}
a{
    text-decoration: none;
}
span{
    font-size:1rem;
}
footer {
    position: absolute;
    bottom: 25px;
}
html {
    position: relative;
    min-height: 100%;
    font-family: Courier New, Courier, monospace;
    background-image: url("/Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

body {
    margin-bottom: 60px;
    color: whitesmoke !important;
}
.nav-link{
    font-size: 1rem;
}
.BaseBtn{
    cursor:pointer;
    user-select:none;
}