body {
    font-size: 10px;
}
@media (max-width: 1080px){
    body{
        font-size:5px;
    }
}
@media(min-width: 1920px){
    body{
        font-size: 20px;
    }
}
/*<-- Login Page -->*/
.LoginHeader {
    text-align: center;
    background-color: red;
    min-height: 7rem;
    min-width: 75%;
    margin: 0.5rem;
}
.LoginBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75%;
    min-height: 25rem;
    background-color: dimgrey;
    margin: 0.5rem;
}
#HeaderLbl{
    font-size: 3rem;
    font-weight:bold;
}
#UsernameBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 99%;
    min-height: 10rem;
    background-color: blue;
}
#PasswordBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 99%;
    height: 10rem;
    background-color: green;
}
#ButtonBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 99%;
    height: 20rem;
    background-color: fuchsia;
}
#LabelLogin{
    font-weight: bold;
    font-size: 2rem;
    color:black;
}
#LoginBtn {
    border-radius: 30px;
    background-color: aqua;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    width: 70%;
    height: 10rem;
}
#LoginBtn:hover {
    border-color: aqua;
    background-color: black;
    color: aqua;
}
    /*<-- End of login -->*/

    /*<-- Register -->*/
.RegisterHeader{
    width: 50vw;
    height: 7vh;
    background-color: gray;
}
.RegisterBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 44vh;
    background-color: lightblue;
}
.OneBox{
    display: contents;
    text-align:center;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 11vh;
}
#LabelRegister{
    font-size: 4vh;
    font-weight: bold;
}
#RegisterTextBox, #RegisterPassword {
    width: 80%;
    height: 4vh;
    font-size: 3vh;
}
#RegisterBtn{
    font-size: 3vh;
    width: 80%;
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    color: darkorange;
}
#RegisterBtn:hover{
    color: royalblue;
    background-color: darkorange;
}
/*<-- Password Rectangle -->*/
#Rectangle {
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    width: 80%;
    height: 2vh;
    border: solid 1px;
    background-color: white;
    border: none;
}
#SmallSquare{   
    color: white;
    width:0%;
    height: 100%;
    background-color: red;
}
    /*<-- End Rectangle -->*/
    /*<-- End Register -->>*/