@media (max-width: 768px) {
    .LoginCol {
        width: 90% !important;
        border: none !important;
        float: none !important;
    }
    .RegisterCol {
        width: 90% !important;
        float: none !important;
        text-align: center !important; 
    }
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/*<-- Login Page -->*/
.LoginCol {
    overflow: revert-layer;
    justify-content: center;
    text-align: center;
    width: 66%;
    border-right: 0.2rem solid black;
    display: flex;
    float: left;
    padding: 0.2rem;
    align-content: center;
    margin: 0.3rem;
}
.RegisterCol {
    justify-content: center;
    font-size: 2.5rem;
    width: 28%;
    float: right;
    display: flex;
    text-align:center;
}
.LoginHeader {
    font-size: 2.5rem;
    font-weight: bolder;
}
.UsernameBox{
    margin: 0.5rem;
    font-size: 1rem;
}
.textInput {
    font-size: 1.5rem;
    height: 2rem;
    width: 90%;
    margin: 0.3rem;
}
.ButtonBox {
    height: 3rem;
}
.LoginBtn {
    margin: 0.3rem;
    font-size: 1.5rem;
    background-color: black;
    width: 90%;
    color: white;
    border: none;
    border-radius: 0.5rem;
}
.LoginBtn:hover{
    background-color: white;
    color:black;
}
.RegBtn {
    text-align: center;
    width: 98%;
    background-color: forestgreen;
    color: white;
    border-radius: 0.5rem;
}
.RegisterBtn{
    min-width: 100%;
    font-size: 2rem;
    border:none;
}
.RegBtn:hover {
    background-color: white;
    color: forestgreen;
    border: 0.5px solid black;
}
.LabelLogin{
    font-size: 2rem;
}
.ErrorLbl{
    font-size: 1rem;
    color:red;
}
/*<-- End of login -->*/
/*<-- Register -->*/
.RegisterHeader {
    text-align:center;
}
.RegisterHeaderText{
    font-size: 3rem;
    font-weight: bold;
}
.RegisterBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OneBox{
    display: contents;
    text-align:center;
    justify-content:center;
    align-items:center;
}
#LabelRegister{
    font-size: 2rem;
    font-weight: bold;
}
#RegisterTextBox, #RegisterPassword {
    font-size: 2rem;
}
#RegisterBtn{
    font-size: 2.5rem;
    padding: 15px 50px;
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    color: darkorange;
}
#RegisterBtn:hover{
    color: royalblue;
    background-color: darkorange;
}
/*<-- Password Rectangle -->*/
#Rectangle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0px;
    min-height: 3px;
    height: auto;
    min-width: 600px;
    border: solid 1px;
    background-color: white;
    border: none;
}
#SmallSquare{   
    color: black;
    height: 100%;
    background-color: red;
}
    /*<-- End Rectangle -->*/
    /*<-- End Register -->>*/