@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na naszej stronie z kursami</h1>
    <p id="WelcomeTxt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius bibendum urna id efficitur. 
        Integer porta eu tellus nec tincidunt. Duis tempus, augue ac rutrum posuere, diam metus congue ipsum, vel posuere libero mi vel arcu. 
        Mauris dapibus, tortor sit amet consequat dignissim, metus ipsum pellentesque nulla, ac pharetra erat ante vitae sapien. 
        Nam pretium luctus iaculis. Pellentesque malesuada massa sed aliquet sagittis. Nam consequat nisi congue enim pharetra maximus vel in felis. 
        Nam non gravida justo. Mauris non cursus massa. Donec vestibulum imperdiet dapibus. 
        Etiam sed augue vehicula, tempor lacus et, mattis mi. Maecenas quis ullamcorper nulla.
        Fusce pretium leo nulla. Pellentesque varius, odio ut interdum tristique, sem metus pharetra lectus, vitae lobortis eros ipsum at ipsum. 
        Phasellus eget ultrices quam. Vivamus fermentum quam purus, a facilisis risus mattis sit amet. Suspendisse tempus et nisi nec accumsan. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus ultricies, efficitur arcu non, interdum nisi. 
        Vivamus tortor risus, ornare id orci quis, cursus imperdiet leo. Phasellus quam leo, placerat nec molestie ac, fermentum vel tortor. 
        Aenean luctus consequat metus. Integer ornare nunc et lacus auctor, sit amet eleifend nibh rhoncus. 
        Proin elit nulla, pellentesque et arcu eget, suscipit accumsan mi. Duis eleifend ante nisi, eget interdum ante dictum eget.
    </p>
    <div>
        <p id="Test">Na naszej stronie będziesz mógł znaleźć kursy odpowiednie dla Twoich zainteresowań</p>
    </div>
    <br />
    <div class="Courses">
        <div class="NewCourses col-6">
            <p>test asdada </p>
        </div>
        <div class="Bestseller col-6">
            <p>test sadasdasdasdad</p>
        </div>
    </div>
</div>
